template

  // SAMPLE
  mdc-grid
    mdc-grid-cell(span="12")
      h4 Buttons

    // CONFIG AREA
    mdc-grid-cell(span="4")
      mdc-checkbox(checked.bind="aureliaDisabled") disabled
      br
      mdc-checkbox(checked.bind="raised") raised
      br
      mdc-checkbox(checked.bind="dense") dense
      br
      mdc-checkbox(checked.bind="compact") compact
      br
      mdc-checkbox(checked.bind="stroked") stroked
      br
      mdc-checkbox(checked.bind="unelevated") unelevated

    // DEMO AREA
    mdc-grid-cell(span="8")
      section.components
        h6 Default theme
        button(
          mdc-button="raised.bind: raised; dense.bind: dense; compact.bind: compact; stroked.bind: stroked; unelevated.bind: unelevated;"              
          disabled.bind="aureliaDisabled") Button 1
        br
        br

      section.mdc-theme--dark.components
        h6 Dark theme
        button(
          mdc-button="raised.bind: raised; dense.bind: dense; compact.bind: compact; stroked.bind: stroked; unelevated.bind: unelevated;"
          disabled.bind="aureliaDisabled") Button 2
        br
        br


    // LINKS
    mdc-grid-cell(span="12")
      hr      
      a(href="https://material.io/components/web/catalog/buttons/" target="_blank" data-analytics-category="external" data-analytics-action="mdc-button") Material components documentation
      br
      a(href="https://material.io/guidelines/components/buttons.html" target="_blank" data-analytics-category="external" data-analytics-action="mdg-button") Material design guidelines
      hr

    // EXAMPLE
    mdc-grid-cell(span="12")
      pre
        code-prism.
          &lt;button
            mdc-button="raised.bind: raised; dense.bind: dense; compact.bind: compact; stroked.bind: stroked; unelevated.bind: unelevated;" 
            disabled.bind="disabled"&gt;
            Button text
          &lt;/button&gt;

    // RIPPLE
    mdc-grid-cell(span="12")
      section
        h5 Ripple
        p.
          By default the ripple effect is added automatically. To avoid that, set ripple to false:
        pre
          code-prism.
            &lt;button mdc-button="ripple: false;" ...&gt;
              ...
            &lt;/button&gt;

    // ICON
    mdc-grid-cell(span="12")
      section
        h5 Icon
        p Add #[span.mark-text mdc-button__icon] class to icon tag:
        button(mdc-button="stroked: true;")
          i.material-icons.mdc-button__icon star
          | Button with icon
        br
        pre
          code-prism.
            &lt;button mdc-button="stroked: true;" ...&gt;
              <i class="material-icons mdc-button__icon">star</i>
              Button with icon              
            &lt;/button&gt;

    // SASS MIXINS
    mdc-grid-cell(span="12")
      section
        h5 Sass Mixins
        pre
          code-prism(language="css").
            button.secondary-text {
              @include mdc-button-ink-color($mdc-theme-secondary);
              @include mdc-states(secondary);

              @include mdc-theme-dark(".mdc-button") {
                @include mdc-button-ink-color($mdc-theme-secondary);
                @include mdc-states(secondary);
              }
            }

        pre
          code-prism.
            &lt;button mdc-button class="secondary-text"&gt;
              secondary-text-button
            &lt;/button&gt;

        button.secondary-text(mdc-button) secondary-text-button


        pre
          code-prism(language="css").
            button.secondary-filled {
              @include mdc-button-filled-accessible($mdc-theme-secondary);

              @include mdc-theme-dark(".mdc-button") {
                @include mdc-button-filled-accessible($mdc-theme-secondary);
              }
            }

        pre
          code-prism.
            &lt;button mdc-button class="secondary-filled"&gt;
              secondary-filled-button
            &lt;/button&gt;

        button.secondary-filled(mdc-button) secondary-filled-button          


        pre
          code-prism(language="css").
            button.secondary-stroked {
              @include mdc-button-ink-color($mdc-theme-secondary);
              @include mdc-button-stroke-color($mdc-theme-secondary);
              @include mdc-states(secondary);

              @include mdc-theme-dark(".mdc-button") {
                @include mdc-button-ink-color($mdc-theme-secondary);
                @include mdc-button-stroke-color($mdc-theme-secondary);
                @include mdc-states(secondary);
              }
            }

        pre
          code-prism.
            &lt;button mdc-button="stroked: true;" class="secondary-stroked"&gt;
              secondary-stroked-button
            &lt;/button&gt;

        button.secondary-stroked(mdc-button="stroked: true;") secondary-stroked-button         

        pre
          code-prism(language="css").
            button.big-round-corner-button {
              @include mdc-button-corner-radius(8px);
            }

        pre
          code-prism.
            &lt;button mdc-button="stroked: true;" class="big-round-corner"&gt;
              big-round-corner-button
            &lt;/button&gt;

        button.big-round-corner(mdc-button="stroked: true;") big-round-corner-button           

        pre
          code-prism(language="css").
            button.thick-stroke {
              @include mdc-button-stroke-width(4px);
            }            

        pre
          code-prism.
            &lt;button mdc-button="stroked: true;" class="thick-stroke"&gt;
              thick-stroke-button
            &lt;/button&gt;

        button.thick-stroke(mdc-button="stroked: true;") thick-stroke-button           


    // WALL OF BUTTONS
    mdc-grid-cell(span="12")
      hr
      mdc-checkbox(checked.bind="darkTheme") Dark theme
      mdc-checkbox(checked.bind="disabled") Disable buttons (excluding links and divs)
      hr

      // BUTTONS
      section.components(class.bind="darkTheme ? 'mdc-theme--dark' : ''")
        h5 Text Button
        fieldset(disabled.bind="disabled")
          button(mdc-button="raised: false; dense: false; compact: false;") Default

          button(mdc-button="raised: false; dense: false; compact: true;") Compact

          button(mdc-button="raised: false; dense: true; compact: false;") Dense

          button.secondary-text(mdc-button="raised: false; dense: false; compact: false;") Secondary

          button(mdc-button="raised: false; dense: false; compact: false;")
            i.material-icons.mdc-button__icon favorite
            | Icon

          div(mdc-button="raised: false; dense: false; compact: false;" role="button") Div

          a(href="#/components/buttons"
            mdc-button="raised: false; dense: false; compact: false;") Link
          
          hr

        h5 Raised Button
        fieldset(disabled.bind="disabled")
          button(mdc-button="raised: true; dense: false; compact: false;") Default

          button(mdc-button="raised: true; dense: false; compact: true;") Compact

          button(mdc-button="raised: true; dense: true; compact: false;") Dense

          button.secondary-filled(mdc-button="raised: true; dense: false; compact: false;") Secondary

          button(mdc-button="raised: true; dense: false; compact: false;")
            i.material-icons.mdc-button__icon favorite
            | Icon

          div(mdc-button="raised: true; dense: false; compact: false;" role="button") Div

          a(href="#/components/buttons"
            mdc-button="raised: true; dense: false; compact: false;") Link
          
          hr

        h5 Unelevated Button (Experimental)
        fieldset(disabled.bind="disabled")
          button(mdc-button="unelevated: true; raised: false; dense: false; compact: false;") Default

          button(mdc-button="unelevated: true; raised: false; dense: false; compact: true;") Compact

          button(mdc-button="unelevated: true; raised: false; dense: true; compact: false;") Dense

          button.secondary-filled(mdc-button="unelevated: true; raised: false; dense: false; compact: false;") Secondary

          button(mdc-button="unelevated: true; raised: false; dense: false; compact: false;")
            i.material-icons.mdc-button__icon favorite
            | Icon

          div(mdc-button="unelevated: true; raised: false; dense: false; compact: false;" role="button") Div

          a(href="#/components/buttons"
            mdc-button="unelevated: true; raised: false; dense: false; compact: false;") Link
          
          hr

        h5 Stroked Button (Experimental)
        fieldset(disabled.bind="disabled")
          button(mdc-button="stroked: true; raised: false; dense: false; compact: false;") Default

          button(mdc-button="stroked: true; raised: false; dense: false; compact: true;") Compact

          button(mdc-button="stroked: true; raised: false; dense: true; compact: false;") Dense

          button.secondary-stroked(mdc-button="stroked: true; raised: false; dense: false; compact: false;") Secondary

          button(mdc-button="stroked: true; raised: false; dense: false; compact: false;")
            i.material-icons.mdc-button__icon favorite
            | Icon

          div(mdc-button="stroked: true; raised: false; dense: false; compact: false;" role="button") Div

          a(href="#/components/buttons"
            mdc-button="stroked: true; raised: false; dense: false; compact: false;") Link
          
          hr
