template
  // TEXTFIELD
  label.mdc-text-field(ref="elementMain")

    div(ref="leadingIconSlot")
      slot(name="leading-icon")
    
    //- INPUT
    input.mdc-text-field__input(
      ref="elementInput"
      if.bind="!multiline"
      type="${type}" 
      name.bind="name"
      value.bind="value"
      min.bind="min"
      max.bind="max"
      step.bind="step"
      required.bind="required" 
      aria-controls="${helptextId}")

    //- TEXTAREA
    textarea.mdc-text-field__input(
      ref="elementInput" 
      name.bind="name"
      if.bind="multiline" 
      rows="${multilineRows}" 
      cols="${multilineCols}" 
      value.bind="value" 
      required.bind="required" 
      aria-controls="${helptextId}")

    //- LABEL
    span.mdc-text-field__label(ref="elementLabel")
      slot

    div(ref="trailingIconSlot")
      slot(name="trailing-icon")
  
    //- BOX BOTTOM LINE
    .mdc-text-field__bottom-line(show.bind="!outlined")
    //- OUTLINED
    .mdc-text-field__outline(show.bind="outlined")
      svg
        path.mdc-text-field__outline-path
    .mdc-text-field__idle-outline(show.bind="outlined")

  //- HELP TEXT
  p.mdc-text-field-helper-text(
    id="${helptextId}"
    ref="elementHelpText" 
    aria-hidden="true"
    css.bind="styleHelptext") ${helptext}
