template
  // TEXTFIELD
  .mdc-text-field(ref="elementMain")

    div(ref="leadingIconSlot")
      slot(name="leading-icon")
    
    // INPUT
    input.mdc-text-field__input.amdc_input_element(
      id="${controlId}"
      ref="elementInput"
      if.bind="!multiline"
      type="${type}" 
      name.bind="name"
      value.bind="value"
      min.bind="min"
      max.bind="max"
      step.bind="step"
      required.bind="required" 
      aria-controls="${helptextId}")

    // TEXTAREA
    textarea.mdc-text-field__input.amdc_textarea_element(
      id="${controlId}"
      ref="elementInput" 
      name.bind="name"
      if.bind="multiline" 
      rows="${multilineRows}" 
      cols="${multilineCols}" 
      value.bind="value" 
      required.bind="required" 
      aria-controls="${helptextId}")

    // LABEL
    label.mdc-text-field__label(for="${controlId}" ref="elementLabel")
      slot

    div(ref="trailingIconSlot")
      slot(name="trailing-icon")
  
    // BOX BOTTOM LINE
    .mdc-text-field__bottom-line(if.bind="box")

  // HELP TEXT
  p.mdc-text-field-helptext(
    id="${helptextId}"
    ref="elementHelpText" 
    aria-hidden="true"
    css.bind="styleHelptext") ${helptext}
