template
  require(from="./switches.css")

  // SAMPLE
  section
    legend.mdc-typography--display1 Switch
    mdc-grid
      
      // CONFIG AREA
      mdc-grid-cell(span="4") 
        section
          mdc-checkbox(checked.bind="switchDisable") Disable switch

      // DEMO AREA
      mdc-grid-cell(span="8")
        section
          legend.mdc-typography--title Default theme
          mdc-switch(disabled.bind="switchDisable" checked.bind="switch1" on-change.delegate="onChange($event)") On/off
          table.event-list
            tbody
              tr
                td checked:
                td ${switch1}
              tr
                td event value:
                td ${isChecked}

        section 
          mdc-switch(disabled.bind="switchDisable" checked.bind="switch2" label-on="On" label-off="Off")
          p checked: ${switch2}


        section.mdc-theme--dark
          legend.mdc-typography--title Dark theme
          mdc-switch(disabled.bind="switchDisable" checked.bind="switch3") On/off
          p checked: ${switch3}
          mdc-switch(disabled.bind="switchDisable" checked.bind="switch4" label-on="On" label-off="Off")
          p checked: ${switch4}


      mdc-grid-cell(span="12")

        // LINKS
        hr
        section
          a(href="https://material.io/components/web/catalog/input-controls/switches/" target="_blank" data-analytics-category="external" data-analytics-action="mdc-switch") Material components documentation
        section
          a(href="https://material.io/guidelines/components/selection-controls.html#selection-controls-switch" target="_blank" data-analytics-category="external" data-analytics-action="mdg-switch") Material design guidelines
        hr

        section
          // css
          pre
            code-prism(language="css").
              // z-index under toolbar

              .mdc-switch__background {
                z-index: 0;
              }    

          // script
          pre
            code-prism(language="typescript").
              import { IMdcSwitchEvent } from 'aurelia-mdc-bridge';

              private onChange(event: IMdcSwitchEvent) {
                this.isChecked = event.detail;
                this.eventCounter++;
              }
              
          // html
          pre
            code-prism(language="html").
              &lt;mdc-switch checked.bind="switch1"&gt;
                On/off
              &lt;/mdc-switch&gt;

              &lt;mdc-switch 
                checked.bind="switch1"
                disabled.bind="switchDisable"
                label-on="On"
                label-off="Off"
                on-change.delegate="onChange($event)"&gt;
              &lt;/mdc-switch&gt;
