template

  // SAMPLE
  mdc-grid
    mdc-grid-cell(span="12")
      h4 Cards

    // CONFIG AREA
    mdc-grid-cell(span="4")
      mdc-list(dense="true")
        mdc-list-item
          a(href="#cardsize") Size
        mdc-list-item 
          a(href="#strokedcard") Stroked Card
        mdc-list-item 
          a(href="#richmedia") Rich Media
        mdc-list-item 
          a(href="#cardactions") Card Actions
        mdc-list-item 
          a(href="#cardactiongroups") Card Actions Groups
        mdc-list-item 
          a(href="#cardprimaryaction") Card Primary Action


    // EXAMPLE
    mdc-grid-cell(span="8")
      mdc-card.my-demo-card(width="350px")
        mdc-card-media(
          image="images/16-9.jpeg"
          height="200px"
        )

        .my-card-header
          h2 Our Changing Planet
          h3 by Kurt Wagner

        .my-card-header
          h3 Visit ten places on our planet that are undergoing the biggest changes today.

        mdc-card-actions
          .mdc-card__action-buttons
            button(mdc-button) Read
            button(mdc-button) Bookmark
          .mdc-card__action-icons
            mdc-icon-toggle(
              icon-on="favorite"
              icon-off="favorite_border"
              aria-label-on="Remove from favorites"
              aria-label-off="Add to favorites"
            )
            i.material-icons.mdc-ripple-surface(
              tabindex="0"
              role="button"
              title="Share"
              data-mdc-ripple-is-unbounded) share
            i.material-icons.mdc-ripple-surface(
              tabindex="0"
              role="button"
              data-mdc-ripple-is-unbounded) more_vert

    // LINKS
    mdc-grid-cell(span="12")
      hr
      a(href="https://material.io/components/web/catalog/cards/" target="_blank" data-analytics-category="external" data-analytics-action="mdc-card") Material components documentation
      br
      a(href="https://material.io/guidelines/components/cards.html" target="_blank" data-analytics-category="external" data-analytics-action="mdg-drawer") Material design guidelines
      hr


    // SIZE
    mdc-grid-cell(span="12")
      section
        h5(id="cardsize") Size
        p.
          Cards don’t come with a predefined width or height. They expand horizontally to 
          fill all available space, and vertically to fit their contents.
        p.
          You can set height and width for a card like this:

    mdc-grid-cell(span="6")
      pre
        code-prism.
          &lt;mdc-card
            height="150px"
            width="300px"&gt;
          &lt;/mdc-card&gt;
      
      p Content will be bottom-aligned if it’s smaller than the height of the card.

    mdc-grid-cell(span="6" align="middle")
      mdc-card.my-demo-card(height="150px" width="300px")
        .my-card-header
          h2 Card Size
          h3 Card size in attributes


    mdc-grid-cell(span="12")
      p.
        If you’d like to maintain a consistent height and width across cards, 
        set it in your styles:

    mdc-grid-cell(span="6")
      pre
        code-prism(language="css").
          .my-card-container .mdc-card {
            height: 120px;
            width: 300px;
          }
      pre
        code-prism.
          &lt;div class="my-card-container"&gt;
            &lt;mdc-card&gt;
              ..
            &lt;/mdc-card&gt;
            &lt;mdc-card&gt;
              ..
            &lt;/mdc-card&gt;
          &lt;/div&gt;

    mdc-grid-cell(span="6" align="middle")
      .my-card-container.my-demo-card
        mdc-card
          .my-card-header
            h2 Card Size
            h3 Card size in styles
        mdc-card
          .my-card-header
            h2 Card Size
            h3 Card size in styles

    // STROKED CARD
    mdc-grid-cell(span="12")
      section
        h5(id="strokedcard") Stroked Card
        p.
          Default Cards is displayed with shadow. To remove the shadow and display a hairline
          stroke instead, set stroked to true.

    mdc-grid-cell(span="6")
      pre
        code-prism.
          &lt;mdc-card
            stroked="true"
            height="120px"
            width="300px"&gt;
          &lt;/mdc-card&gt;

    mdc-grid-cell(span="6")
      mdc-card.my-demo-card(height="120px" width="300px" stroked="true")
        .my-card-header
          h2 Stroked Card
          h3 Set stroked="true"

    // CONTENT BLOCKS
    mdc-grid-cell(span="12")
      section
        h5 Content blocks
        p Cards are composed of different content blocks, which are typically laid out in vertical succession.
        p Because every app is different, there are no “standard” layouts for card content; each app should define their own.
        p However, MDC Card does provide styles for two common card elements: rich media (images or video) and actions.


    // RICH MEDIA
    mdc-grid-cell(span="6")
      section
        h6(id="richmedia") Rich media
        pre
          code-prism.
            &lt;mdc-card width="300px"&gt;
              &lt;mdc-card-media
                image="images/16-9.jpeg"
                height="200px"&gt;
              &lt;/mdc-card-media&gt;
            &lt;/mdc-card&gt;

            default attributes:
              size="cover"
              repeat="no-repeat"

    mdc-grid-cell(span="6")
      mdc-radio(name="image" checked.bind="image" value="images/16-9.jpeg") images/16-9.jpeg
      mdc-radio(name="image" checked.bind="image" value="images/1-1.jpeg") images/1-1.jpeg
      br
      br
      mdc-card(width="300px")
        mdc-card-media(image.bind="image" height="200px")

    // RICH MEDIA STYLES
    mdc-grid-cell(span="6")
      p Styles can also be used:
      pre
        code-prism.
          &lt;mdc-card id="example"&gt;
            &lt;mdc-card-media&gt;&lt;/mdc-card-media&gt;
          &lt;/mdc-card&gt;
      pre
        code-prism(language="css").
          #example .mdc-card__media {
            background-image: url("images/16-9.jpeg");
            background-size: cover;
            background-repeat: no-repeat;
            height: 90px;
          }

    mdc-grid-cell(span="6")
      mdc-card#example(width="300px")
        mdc-card-media

    // RICH MEDIA SCALED
    mdc-grid-cell(span="6")
      section
        h6(id="richmedia") Rich media - scaled
        p scaled="square" automatically scales the medias area height to equal its width.
        p.
          scaled="16-9" automatically scales the medias area height according to its width,
          maintaining a 16:9 aspect ratio.
        pre
          code-prism.
            &lt;mdc-card width="300px"&gt;
              &lt;mdc-card-media
                scaled="16-9"&gt;
                <p>scaled="16-9"</p>
              &lt;/mdc-card-media&gt;
            &lt;/mdc-card&gt;

        pre
          code-prism.
            &lt;mdc-card width="300px"&gt;
              &lt;mdc-card-media
                image="images/1-1.jpeg"
                scaled="square"&gt;
                <h2>Media Card Content</h2>
              &lt;/mdc-card-media&gt;
            &lt;/mdc-card&gt;

    mdc-grid-cell(span="6")
      br
      mdc-card(width="300px")
        mdc-card-media(scaled="16-9")
          p scaled="16-9"

      mdc-card(width="300px")
        mdc-card-media(image="images/1-1.jpeg" scaled="square")
          h2 Media Card Content

    // CARD ACTIONS
    mdc-grid-cell(span="6")
      section
        h6(id="cardactions") Card Actions
        pre
          code-prism.
            &lt;mdc-card width="300px"&gt;
              &lt;mdc-card-actions&gt;
                &lt;button mdc-button&gt;Action 1&lt;/button&gt;
                &lt;button mdc-button&gt;Action 2&lt;/button&gt;
              &lt;/mdc-card-actions&gt;
            &lt;/mdc-card&gt;

        p mdc-card__action and mdc-card__action--button classes is automaticly added to buttons within card action section.
        p mdc-card__action and mdc-card__action--icon classes is automaticly added to elements containing class "material-icons" within card action section.

    mdc-grid-cell(span="6")
      mdc-card(width="300px")
        mdc-card-actions
          button(mdc-button) Action 1
          button(mdc-button) Action 2

    // CARD ACTION - FULL BLEED
    mdc-grid-cell(span="6")
      section
        h6(id="cardactions") Card Actions - full-bleed
        p To have a single action button take up the entire width of the action row, set the full-bleed="true" attribute on the row:
        pre
          code-prism.
            &lt;mdc-card width="300px"&gt;
              &lt;mdc-card-actions full-bleed="true"&gt;
                &lt;button mdc-button&gt;
                  Action 1
                  <i class="material-icons" aria-hidden="true">arrow_forward</i>
                &lt;/button&gt;
              &lt;/mdc-card-actions&gt;
            &lt;/mdc-card&gt;


    mdc-grid-cell(span="6")
      mdc-card(width="300px")
        mdc-card-actions(full-bleed="true")
          button(mdc-button) 
            | Action 1
            i.material-icons(aria-hidden="true") arrow_forward

    // CARD ACTION GROUPS
    mdc-grid-cell(span="6")
      section
        h6(id="cardactiongroups") Card Actions Groups
        p #[span.mdc-typography--body2 mdc-card__action-buttons] - A group of action buttons, displayed on the left side of the card (in LTR), adjacent to mdc-card__action-icons
        p #[span.mdc-typography--body2 mdc-card__action-icons] - A group of supplemental action icons, displayed on the right side of the card (in LTR), adjacent to __action-buttons
        pre
          code-prism.
            &lt;mdc-card width="350px"&gt;
              &lt;mdc-card-actions&gt;
                &lt;div class="mdc-card__action-buttons"&gt;
                  &lt;button mdc-button&gt;Read&lt;/button&gt;
                  &lt;button mdc-button&gt;Bookmark&lt;/button&gt;
                &lt;/div&gt;

                &lt;div class="mdc-card__action-icons"&gt;
                  &lt;mdc-icon-toggle
                    icon-on="favorite"
                    icon-off="favorite_border"
                    aria-label-on="Remove from favorites"
                    aria-label-off="Add to favorites"&gt;
                  &lt;/mdc-icon-toggle&gt;
                  &lt;i class="material-icons mdc-ripple-surface"
                    tabindex="0"
                    role="button"
                    title="Share"
                    data-mdc-ripple-is-unbounded&gt;
                    share
                  &lt;/i&gt;
                  &lt;i class="material-icons mdc-ripple-surface"
                    tabindex="0"
                    role="button"
                    data-mdc-ripple-is-unbounded&gt;
                    more_vert
                  &lt;/i&gt;
                &lt;/div&gt;
              &lt;/mdc-card-actions&gt;
            &lt;/mdc-card&gt;

    mdc-grid-cell(span="6")
      mdc-card(width="350px")
        mdc-card-actions
          .mdc-card__action-buttons
            button(mdc-button) Read
            button(mdc-button) Bookmark
          .mdc-card__action-icons
            mdc-icon-toggle(
              icon-on="favorite"
              icon-off="favorite_border"
              aria-label-on="Remove from favorites"
              aria-label-off="Add to favorites"
            )
            i.material-icons.mdc-ripple-surface(
              tabindex="0"
              role="button"
              title="Share"
              data-mdc-ripple-is-unbounded) share
            i.material-icons.mdc-ripple-surface(
              tabindex="0"
              role="button"
              data-mdc-ripple-is-unbounded) more_vert

    // CARD PRIMARY ACTION
    mdc-grid-cell(span="6")
      section
        h6(id="cardprimaryaction") Card Primary Action
        p.
          The main tappable area of the card. Typically contains most (or all) card content except mdc-card-actions. 
          Only applicable to cards that have a primary action that the main surface should trigger.
        pre
          code-prism.
            &lt;mdc-card width="300px"&gt;
              &lt;a class="mdc-card__primary-action" href="#" mdc-ripple&gt;
                &lt;mdc-card-media image="images/16-9.jpeg" scaled="16-9"&gt;
                  &lt;h2&gt;Main tappable area&lt;/h2&gt;
                &lt;/mdc-card-media&gt;
              &lt;/a&gt;
              &lt;mdc-card-actions&gt;
                &lt;button mdc-button&gt;Action 1&lt;/button&gt;
                &lt;button mdc-button&gt;Action 2&lt;/button&gt;
              &lt;/mdc-card-actions&gt;
            &lt;/mdc-card&gt;


    mdc-grid-cell(span="6")
      mdc-card.my-demo-card(width="300px")
        a.mdc-card__primary-action(href="#/components/cards" mdc-ripple)
          mdc-card-media(image="images/16-9.jpeg" scaled="16-9")
            .my-card-header
              h2.white Main tappable area
        mdc-card-actions
          button(mdc-button) Action 1
          button(mdc-button) Action 2
