template

  // SAMPLE
  mdc-grid
    mdc-grid-cell(span="12")
      h4 Text Fields

    // CONFIG AREA
    mdc-grid-cell(span="4")
      mdc-checkbox(checked.bind="mDisabled") disabled
      br
      mdc-checkbox(checked.bind="mDense") dense
      br
      mdc-checkbox(checked.bind="mRequired") required
      br
      mdc-checkbox(checked.bind="mHelptextShow") helptext-show
      br
      mdc-checkbox(checked.bind="mHelptextPersistent") helptext-persistent
      br
      mdc-checkbox(checked.bind="mHelptextValidation") helptext-validation
      br
      mdc-checkbox(checked.bind="mFullwidth") fullwidth              
      br
      mdc-checkbox(checked.bind="mFocused") focused
      br
      mdc-checkbox(checked.bind="mValid") valid
      br      
      mdc-text-field(value.bind="mHelptext") Help text
      br
      mdc-text-field(value.bind="numericText" type="number" min="0" max="10" step="1") number
      br
      mdc-text-field(value.bind="colorValue" type="color") color
      br
      mdc-text-field(value.bind="timeValue" type="time") time
      br
      mdc-text-field(value.bind="weekValue" type="week") week
      br
      mdc-text-field(value.bind="monthValue" type="month") month
      br
      mdc-text-field(value.bind="dateValue" type="date") date
      br
      mdc-text-field(value.bind="datetimeLocalValue" type="datetime-local") datetime-local
      br
      mdc-text-field(value.bind="datetimeLocalValue2" type="datetime-local" prefilled="true") prefilled
      p (label always on top)
      button(mdc-button="raised: true;" click.delegate="onClick()") console.log native input
      br

    // DEMO AREA
    mdc-grid-cell(span="8")

      // DEFAULT THEME
      section.components
        h5 Default theme

        mdc-grid-inner
          mdc-grid-cell(span="6")

            // demo textfield
            mdc-text-field#testid(
              view-model.ref="demoTextfieldElement"
              value.bind="mValue" 
              disabled.bind="mDisabled"
              dense.bind="mDense"
              required.bind="mRequired"
              helptext.bind="mHelptext"
              helptext-show.bind="mHelptextShow"
              helptext-persistent.bind="mHelptextPersistent"
              helptext-validation.bind="mHelptextValidation"
              blur-on-enter="true"
              focused.bind="mFocused"
              focus.delegate="onEvent('focus', $event)"          
              blur.delegate="onEvent('blur', $event)") Label text

            br
            br
            br

          mdc-grid-cell(span="6")
            // events
            report-element(view-model.ref="reportElement")
            br

        // multiline
        mdc-text-field(
          value.bind="mValue" 
          disabled.bind="mDisabled"
          multiline="true"
          dense.bind="mDense"
          required.bind="mRequired"
          helptext.bind="mHelptext"
          helptext-show.bind="mHelptextShow"
          helptext-persistent.bind="mHelptextPersistent"
          helptext-validation.bind="mHelptextValidation") Multiline

      // DARK THEME
      section.mdc-theme--dark.components
        h5 Dark theme
        mdc-text-field(
          value.bind="mValue" 
          disabled.bind="mDisabled"
          dense.bind="mDense"
          required.bind="mRequired"
          helptext.bind="mHelptext"
          helptext-show.bind="mHelptextShow"
          helptext-persistent.bind="mHelptextPersistent"
          helptext-validation.bind="mHelptextValidation") Label text

      // password      
      mdc-text-field(
        value.bind="mPassword"
        type="password"
        aria-label="Password"
        required="true"
        pattern=".{8,}"
        helptext-show="true"
        helptext-validation="true"
        helptext="Must be at least 8 characters long") Password

      // password box      
      mdc-text-field(
        value.bind="mPassword"
        type="password"
        box="true"
        aria-label="Password"
        required="true"
        pattern=".{8,}"
        helptext-show="true"
        helptext-validation="true"
        helptext="Must be at least 8 characters long") Password

      // placeholder
      mdc-text-field(
        value=""
        fullwidth.bind="mFullwidth"
        placeholder="Placeholder text")

      // fullwidth
      mdc-text-field(
        value=""
        fullwidth="true"
        placeholder="Full width")
      p Note that full-width text fields do not support floating labels.

      // leading-icon
      br
      mdc-text-field(value.bind="leadingIcon" box="true")
        i.material-icons(slot="leading-icon" tabindex="0") event
        | Leading Icon

      // trailing-icon
      br
      mdc-text-field(value.bind="leadingIcon" box="true")
        i.material-icons(slot="trailing-icon") event
        | Trailing Icon

    // LINKS  
    mdc-grid-cell(span="12")
      hr
      a(href="https://material.io/components/web/catalog/input-controls/text-fields/" target="_blank" data-analytics-category="external" data-analytics-action="mdc-text-field") Material components documentation
      br
      a(href="https://material.io/guidelines/components/text-fields.html" target="_blank" data-analytics-category="external" data-analytics-action="mdg-textfield") Material design guidelines
      hr


    // EXAMPLE
    mdc-grid-cell(span="12")
      pre
        code-prism.
          &lt;mdc-text-field
            value.bind="value"
            type="text"
            name="name"
            box="false"
            prefilled="false"
            multiline="false"
            multiline-rows.bind="multilineRows"
            multiline-cols.bind="multilineCols"
            disabled.bind="disabled"
            placeholder.bind="placeholder"
            aria-label.bind="ariaLabel"
            dense.bind="dense"
            fullwidth.bind="fullwidth"
            required.bind="required"
            pattern.bind="pattern"
            helptext.bind="helptext"
            helptext-show.bind="helptextShow"
            helptext-persistent.bind="helptextPersistent"
            helptext-validation.bind="helptextValidation"
            min.bind="min"
            max.bind="max"
            step.bind="step"
            focused.bind="focus"
            focus.delegate="onFocus()"
            blur.delegate="onBlur()"&gt;
            Label text
          &lt;/mdc-text-field&gt;

    // FULL WIDTH
    mdc-grid-cell(span="12")      
      h5 Full width
      pre
        code-prism.
          &lt;mdc-text-field
            value.bind="value"
            fullwidth="true"
            placeholder="Full width"&gt;
          &lt;/mdc-text-field&gt;
          
      p Full-width text fields do not support floating labels.


    // LEADING AND TRAILING ICONS
    mdc-grid-cell(span="12")
      h5 Leading and Trailing Icons
      pre
        code-prism.
          &lt;mdc-text-field value.bind="value" box="true"&gt;
            <i slot="leading-icon" class="material-icons">event</i>
            Label text
          &lt;/mdc-text-field&gt;

          &lt;mdc-text-field value.bind="value" box="true"&gt;
            <i slot="trailing-icon" class="material-icons">event</i>
            Label text
          &lt;/mdc-text-field&gt;          
          

    // FUNCTIONS
    mdc-grid-cell(span="12") 
      h5 Functions and properties
      pre
        code-prism.
          &lt;mdc-text-field view-model.ref="textfieldModel"&gt;&lt;/mdc-text-field&gt;

      pre
        code-prism(language="typescript").
          import { MdcTextField } from 'aurelia-mdc-bridge';
          private textfieldModel: MdcTextField;

          ...
            this.textfieldModel.focus();
            this.textfieldModel.focused = false;
            const nativeInput = this.textfieldModel.getNativeInput();

            this.textfieldModel.valid = !this.textfieldModel.valid;
          ...
